@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

:root {
	--background: #ececec; 
	--light: #f5fafd; 
	--secondary: #385170;
	--primary: #142d4c; 
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

html { font-size: 100%; background-color: var(--background); scroll-behavior: smooth; scroll-snap-type: y mandatory;}


section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

section h2 {
    text-align: center;
    font-weight: 100;
    font-size: 3rem;
    color: var(--primary);
    position: relative;
    margin-bottom: 3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

section .content {
    display: flex;
    align-items: center;
}

section .content img {
    max-width: 60%
}

p {
    margin: 1rem 0;
}

section#header {
    padding: 0;
    overflow: hidden;
    justify-content: flex-start;
}

header {
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    padding: 1rem;
    width: 100%;
    transition: background-color 0.2s ease-in-out, top 0.2s ease-in-out;
}

header.scroll-up, header.scroll-down {
    background-color: #FFF;
    position: fixed;
    box-shadow: 0px -5px 10px var(--primary);
    padding: 0.5rem 1rem;
}

header.scroll-down {
    top: -200px;
}

header.scroll-up {
    top: -0px;
}

#logo {
    flex-grow: 1;
    flex-basis: 0;
}

#logo img {
    width: 220px;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2rem;
    position: relative;
}

nav a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    transition-property: width;
    transition-duration: .2s;
    background-color: var(--primary);
}

nav a:hover:before {
    width: 100%;
    background-color: var(--primary);
}

.button {
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.button.primary {
    background: var(--primary);
    color: var(--background);
}

.button.secondary {
    background-color: var(--background);
    border: 3px solid var(--primary);
    color: var(--primary);
}

#call-to-action {
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

#hero {
    position: relative;
    flex-grow: 1;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, 
                var(--background) 80%,
                var(--light) 100%);
}

#hero img {
    position: absolute;
    z-index: 0;
    right: -70px;
    bottom: 0;
    width: 200vh;
}

#hero-text {
    position: relative;
    z-index: 1;
    width: 50%;
}

#hero q {
    font-size: 2.5vw;
    color: var(--primary);
    font-weight: bold;
    display: block;
}

#hero p {
    font-size: 1.5vw;
    color: var(--secondary);
    font-style: italic;
    position: relative;
    z-index: 1;
}

#call-to-action-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

#skills {
    background-color: var(--light);
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
}

.card {
    text-align: center;
    padding: 2rem;
    flex: 1 1 0;
    background-color: #FFF;
    border: 1px solid var(--background);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;;
}

.card h3 {
    margin: 1rem;
}

.card-img {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.card-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.card:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 10px 10px var(--background);
}

.card-content {
    position: absolute;
    bottom: -65%;
}

.card-content h3 {
    color: #FFF;
    -webkit-text-stroke: 1px black;
}

#chi-sono {
    background-color: var(--background);
}

#articoli {
    background-color: var(--light);
}

#articoli .card {
    padding: 0;
}

#articoli .card-text {
    padding: 0 2rem;
}

#contatti {
    background-color: var(--background);
}

/* Style the form */
#regForm {
    margin: 50px auto;
    padding: 40px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }

footer {
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}